#fishList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px 50px 20px;
  text-align: center;
  max-width: 70%;
}

article {
  flex-basis: 300px;
  padding: 15px;
  flex-shrink: 1;
  gap: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease;
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}


#locationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px 50px 20px;
  text-align: center;
  max-width: 70%;
}

.locations {
  flex-basis: 300px;
  padding: 15px;
  flex-shrink: 1;
  gap: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease;
}

aside {
  display: flex;
  flex-wrap: wrap;
  float: right;
  gap: 20px;
  padding: 20px;
  width: 20%;
  margin-top: 3%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.tip_title {
  margin-left: 10%;
}

.fish_title,
.location_title {
  margin-left: 15%;
  width: 70%;
  align-content: center;
}
