main {
    background-color: lightslategray;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    padding: 15px;
}

h2 {
    text-align: left;
    font-size: 2em;

}



aside {
    background-color: cornsilk;
    padding: 15px;
    margin: 15px;

    
}

.tips {
    padding: 20px;
    background-color: rgb(196, 233, 231);
    border-radius: 20px;
}

ul {
    list-style-type: none;
}

img {
    padding: 5px;
    width: 150px;
    display: block;
    margin: auto;
}